<div class="dialog">
  <div class="dialog__header">
    <h2>React to this note</h2>
    <button class="button close" (click)="onClickCloseCommentsDialog()">X</button>
  </div>
  <div class="dialog__content">
    <app-note 
      [note]="data" 
      [showCommentButton]="false"
      [showActionButtons]="false">
    </app-note>
    <app-comment-post 
      [noteId]="data.id" 
      (updateCommentsList)="refreshCommentsList($event)">
    </app-comment-post>
    <h3>
      Comment<span>{{ data.comments > 1 ? "s" : "" }}</span> (<span>{{ noteComments?.length }}</span>)
    </h3>
    <mat-spinner *ngIf="isLoadingSpinnerVisible" strokeWidth="2" diameter="50"></mat-spinner>
    <app-alert></app-alert>
    <app-comment 
      *ngFor="let c of noteComments" 
      [comment]="c">
    </app-comment>
  </div>
</div>