@import '../../../mixins';
@import '../../../variables';

.talker {
  @include flex-rfsfs;
  padding: 1rem;
  background-color: map-get($background-colors, tin);
  box-shadow: map-get($shadows, default);
  border-radius: map-get($radius, default);
}

.talker__avatar {
  flex: 1;
  max-width: 132px;
  min-width: 132px;
  & img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.talker__data {
  flex: 4;
  padding: 1rem;
  & > p {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    font-size: 2.4rem;
    font-weight: 400;
    border-bottom: 1px solid map-get($border-colors, default);
  }
  &--activity {
    margin-left: 1rem;
    margin-right: 1rem;
    li {@include flex-rsbc};
  }
}