<nav>
  <li>
    <a routerLink="/notes/all" [ngClass]="{'active': isAllNotesRoute}">
      <!-- <span class="material-symbols-outlined">notes</span> -->
      <mat-icon>notes</mat-icon>
      <span>All notes</span>
    </a>
  </li>
  <li>
    <a routerLink="/notes/best" [ngClass]="{'active': isBestNotesRoute}">
      <mat-icon>star</mat-icon>
      <span>Best notes</span>
    </a>
  </li>
  <li>
    <a href="">
      <mat-icon>trending_up</mat-icon>
      <span>Trending</span>
    </a>
  </li>
</nav>