<nav>
  <li>
    <a routerLink="/notes/all" [ngClass]="{'active': isAllNotesRoute}">
      <span class="material-symbols-outlined">notes</span>
      <span>All notes</span>
    </a>
  </li>
  <li>
    <a routerLink="/notes/best" [ngClass]="{'active': isBestNotesRoute}">
      <span class="material-symbols-outlined">star</span>
      <span>Best notes</span>
    </a>
  </li>
  <li>
    <a href="">
      <span class="material-symbols-outlined">trending_up</span>
      <span>Trending</span>
    </a>
  </li>
</nav>