<div class="note" [ngClass]="{'trend': note.likes > 50}">
  <!-- Note Header -->
  <div class="note__header">
    <div class="note__header--data">
      <p class="note__header--data--author">by <span>{{ note.author }}</span></p>
      <p class="note__header--data--date">{{ note.createdAt | date: 'dd/MM/yy - HH:ss'  }}</p>
    </div>
    <div class="note__header--avatar">
      <img src="https://api.dicebear.com/5.x/croodles/svg?seed={{note.author}}"alt="author-avatar">
    </div>
  </div>
  <!-- Note Content -->
  <div class="note__content">
    <p>{{ note.note }}</p>
  </div>
  <!-- Note Footer -->
  <div class="note__footer">
    <!-- Likes -->
    <div class="note__footer--likes">
      <button class="button" (click)="onClickLike()">
        <span class="material-symbols-outlined">favorite</span>
      </button>
      <span class="note__footer--data">{{ note.likes }}</span>
    </div>
    <!-- Dislikes -->
    <div class="note__footer--dislikes">
      <button class="button" (click)="onClickDislike()">
        <span class="material-symbols-outlined">thumb_down</span>
      </button>
      <span class="note__footer--data">{{ note.dislikes }}</span>
    </div>
    <!-- Comments -->
    <div class="note__footer--comments">
      <button class="button" (click)="onClickComment()">
        <span class="material-symbols-outlined">comment</span>
      </button>
      <span class="note__footer--data">{{ note.totalNoteComments }}</span>
    </div>
  </div>
</div>
