@import '../../../variables';
@import '../../../mixins';

.note {
  margin: map-get($spaces, m);
  padding: map-get($spaces, m);
  min-width: 29rem;
  max-width: 51rem;
  border-radius: map-get($radius, default);
  background-color: map-get($background-colors, tin);
  font-weight: 300;
  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: map-get($spaces, s);
  }
  &__content {
    margin-top: map-get($spaces, m);
    margin-bottom: map-get($spaces, m);
    padding-bottom: map-get($spaces, m);
    word-wrap: break-word;
    word-break: break-word;
    border-bottom: 1px solid map-get($border-colors, default);
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    button {
      &:hover {
        mat-icon, span.material-symbols-outlined {
          transform: scale(1.15);
          transition: map-get($transitions, fast);
        }
      }
    }
  }
}

.note__footer {
  &--data {
    margin-left: 2px;
    margin-right: 5px;
  }
  &--actions {
    margin-left: map-get($spaces, s);
    padding-left: map-get($spaces, s);
    border-left: 1px solid map-get($border-colors, default);
    mat-icon {
      margin: 0;
      color: map-get($text-colors, grey-600);
    }
  }
}

.note__header {
  &--avatar {
    position: absolute;
    @include flex-rcc;
    top: -1rem;
    right: -1rem;
    width: 70px;
    height: 70px;
    border-radius: map-get($radius, half);
    img {
      display: block;
      object-fit: cover;
      object-position: 50% 50%;
      width: 90px;
      height: 90px;
    }
  }
  &--author {
    font-weight: 200;
    span {
      font-weight: 400;
      color: darken($color: map-get($text-colors, grey-600), $amount: 15);
    }
  }
  &--date {
    font-size: 1rem;
    color: map-get($text-colors, grey-400);
  }
}

.popular.note {
  background-color: map-get($background-colors, orange-50);
  mat-icon {margin: 0; color: map-get($text-colors, orange-700);}
  p, span { color: map-get($text-colors, orange-700)};
  .note__content {border-bottom-color: map-get($border-colors, best)};
  .note__header--author {
    span {color: map-get($text-colors, orange-900)};
  }
}