@import '../../../variables';
@import '../../../mixins';

.header {
  @include flex-rsbc;
  margin-top: map-get($spaces, l);
  margin-bottom: map-get($spaces, l);
  padding-top: map-get($spaces, m);
  padding-bottom: map-get($spaces, m);
  padding-left: map-get($spaces, m);
  padding-right: map-get($spaces, m);
  border-radius: map-get($radius, default);
  background-color: map-get($background-colors, white);
  box-shadow: map-get($shadows, fade);
  &__nav {button:not(button:first-child) {margin-left: map-get($spaces, s)}};
}

button[mat-menu-item] {
  @include flex-rsbc;
  div {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 200;
  }
  &:last-child {
    color: map-get($background-colors, white);
    background-color: map-get($background-colors, blue-500);
    mat-icon, div {color: map-get($text-colors, white)};  
  }
}

.logo {
  font-weight: 200;
  font-family: 'Source Code Pro', sans-serif;
}