@import '../../../variables';

.header {
  margin-top: map-get($spaces, l);
  margin-bottom: map-get($spaces, l);
  padding-top: map-get($spaces, m);
  padding-bottom: map-get($spaces, m);
  padding-left: map-get($spaces, m);
  padding-right: map-get($spaces, m);
  border-radius: map-get($radius, default);
  background-color: map-get($background-colors, white);
}

.header.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo, span {
    font-family: 'Source code pro', sans-serif;
    font-weight: 200;
  }
  mat-icon {margin-right: 0.8rem};
}