<div class="header container">
    <div class="logo">Express</div>
    <nav class="header__nav">
      <button 
        mat-button 
        color="primary" 
        *ngIf="!authentication?.isAuthenticated" 
        (click)="onClickAuthenticationDialog()">
        <mat-icon>person</mat-icon>
        <span>Log in / Sign up</span>
      </button>
      <button 
        mat-button 
        color="primary"
        *ngIf="authentication?.isAuthenticated" 
        [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
        <span>{{ authentication.usernameFromJwt }}</span>
        <mat-icon>expand_more</mat-icon>
      </button>
    </nav>
</div>

<mat-menu #menu="matMenu" xPosition="before">
  <button 
    mat-menu-item 
    *ngIf="authentication?.isAuthenticated" 
    (click)="onClickNotePostDialog()">
    <mat-icon>edit_note</mat-icon>
    <div>New note</div>
  </button>
  <button 
    mat-menu-item 
    (click)="onClickLogOut()">
    <mat-icon>logout</mat-icon>
    <div>Log out</div>
  </button>
</mat-menu>