<div class="header container">
    <div class="logo">Express</div>
    <nav class="header__nav">
      <button mat-button *ngIf="authentication?.isAuthenticated" color="primary">
        <mat-icon>edit_note</mat-icon>
        <span>New note</span>
      </button>
      <button mat-button color="primary" (click)="onOpenAuthenticationDialog()">
        <mat-icon>person</mat-icon>
        <span>{{ authentication.isAuthenticated ? authentication.usernameFromJwt : 'Log in / Sign up' }}</span>
      </button>
    </nav>
</div>