<app-header [authentication]="authentication" *ngIf="!onHomePage()"></app-header>

<main [ngClass]="{'main container': !onHomePage()}">
  <ng-container *ngIf="!onHomePage()">
    <app-button-burger [isOpen]="sideNavOpened" (clicked)="sideNavButtonClicked()"></app-button-burger>
  </ng-container>

  <mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="!onHomePage() && sideNavOpened">
      <app-sidenav></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content [ngClass]="{'pl-s': !onHomePage()}">
      <div [ngClass]="{'container': !onHomePage()}">
        <app-banner 
          *ngIf="!onHomePage() && !authentication?.isAuthenticated" 
          [message]="'Register an account to share your mood by writing notes and interact with people !'">
        </app-banner>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>