<h3>All notes</h3>

<mat-accordion>
  <mat-expansion-panel 
    hideToggle
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <button mat-button color="primary">
        <mat-icon>filter_alt</mat-icon>
        <span>Filters</span>
        <mat-icon>{{ panelOpenState ? "expand_less" : "expand_more"}}</mat-icon>
      </button>
    </mat-expansion-panel-header>
    <app-search (searchEvent)="filterNotesBySearching($event)"></app-search>
    <app-sort (sortingEvent)="sortNotes($event)"></app-sort>
  </mat-expansion-panel>
</mat-accordion>

<app-alert *ngIf="!isAnyDialogOpenned"></app-alert>
<mat-spinner *ngIf="isLoadingSpinnerVisible" strokeWidth="2" diameter="50"></mat-spinner>
<div class="notes-list">
  <app-note 
    *ngFor="let n of notes" 
    [note]="n" 
    [showCommentButton]="true"
    [showActionButtons]="true"
    (noteDeletionEvent)="updateNotesListAfterDeletion($event)">
  </app-note>
</div>
<mat-paginator
  #paginator
  (page)="handlePageEvent($event)"
  [length]="pagingData.totalItems"
  [pageSize]="pagingData.pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>