<h3>All notes</h3>
<app-alert *ngIf="!isAnyDialogOpenned"></app-alert>
<mat-spinner *ngIf="isLoadingSpinnerVisible" strokeWidth="2" diameter="50"></mat-spinner>
<div class="notes-list">
  <app-note 
    *ngFor="let n of pagedNotes" 
    [note]="n" 
    [showCommentButton]="true"
    [showActionButtons]="true">
  </app-note>
</div>
<mat-paginator 
  (page)="handlePageEvent($event)"
  [length]="notes?.length"
  [pageSize]="paginatorData?.pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>