@import '../../../variables';
@import '../../../mixins';

.alert {
  @include flex-rsbc;
  button {color: inherit};
  margin-top: map-get($spaces, m);
  margin-bottom: map-get($spaces, m);
  padding: map-get($spaces, m);
  border-radius: map-get($radius, default);
  &.success {
    border: 1px solid map-get($border-colors, success);
    background-color: map-get($background-colors, success);
    p, button {color: map-get($text-colors, success)};
  }
  &.error {
    border: 1px solid map-get($border-colors, error);
    background-color: map-get($background-colors, error);
    p, button {color: map-get($text-colors, error)};
  }
}