<div class="bestnotes">
  <div class="bestnotes__header">
    <h3>Best notes</h3>
    <mat-form-field appearance="fill">
      <mat-label>Ajuster le nombre de notes</mat-label>
      <mat-select [(ngModel)]="topParameter" (ngModelChange)="onChangeBestNotesParameter()">
        <mat-option *ngFor="let i of topParameterCustomizer" [value]="i">{{ i }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="bestnotes__content">
    <app-alert *ngIf="!isAnyDialogOpenned"></app-alert>
    <mat-spinner *ngIf="isLoadingSpinnerVisible" strokeWidth="2" diameter="50"></mat-spinner>
    <div class="notes-list">
      <app-note 
        *ngFor="let n of bestNotes" 
        [note]="n" 
        [showCommentButton]="true"
        [showActionButtons]="true">
      </app-note>
    </div>
  </div>
</div>