@import './fonts';
@import './variables';
@import './mixins';

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: map-get($background-colors, tin);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: map-get($spaces, m);
  padding-right: map-get($spaces, m);
  @include lg {max-width: calc($lg - map-get($spaces, l))};
  @include xl {max-width: calc($xl - map-get($spaces, l))};
  @include xxl {max-width: calc($xxl - map-get($spaces, l))};
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; // Preferred icon size
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  overflow-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  // Support for all WebKit browsers.
  -webkit-font-smoothing: antialiased;
  // Support for Safari and Chrome.
  text-rendering: optimizeLegibility;
  // Support for Firefox.
  -moz-osx-font-smoothing: grayscale;
  // Support for IE.
  font-feature-settings: 'liga';
}