@import './fonts';
@import './variables';
@import './mixins';

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: map-get($background-colors, tin);
}

div, p, h2 {
  color: map-get($text-colors, primary);
}

h2, .h2-like {
  font-family: 'Source Code Pro', sans-serif;
}

form {
  margin-top: map-get($spaces, m);
  margin-bottom: map-get($spaces, m);
  padding-top: map-get($spaces, m);
  padding-bottom: map-get($spaces, m);
}

.ml-s {
  margin-left: map-get($spaces, s);
}

.pl-s {
  padding-left: map-get($spaces, s);
}

app-alert {
  width: 100%;
}

mat-spinner {
  margin: 0 auto;
}

mat-error {
  font-size: 1rem;
}

mat-form-field {
  display: block !important;
}

.mat-form-field-subscript-wrapper {
  margin-top: 0.35em;
}

.mat-menu-panel {
  min-height: 0 !important;
}

.mat-menu-panel .mat-raised-button {
  border-radius: 0;
}

.mat-button-wrapper, .mat-button-wrapper span {
  font-weight: 200;
  font-family: 'Source Code Pro', sans-serif;
}

mat-icon {
  &:first-child {margin-right: map-get($spaces, s)};
  &:last-child {margin-left: map-get($spaces, s)};
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: map-get($spaces, m);
  padding-right: map-get($spaces, m);
  @include lg {max-width: calc($lg - map-get($spaces, l))};
  @include xl {max-width: calc($xl - map-get($spaces, l))};
  @include xxl {max-width: calc($xxl - map-get($spaces, l))};
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: 'Source Code Pro', sans-serif;
  cursor: pointer;
}

button.close {
  color: map-get($text-colors, error)
}

.dialog {
  &__header {
    @include flex-rsbc;
    padding-bottom: map-get($spaces, m);
    border-bottom: 1px solid map-get($border-colors, default);
  }
  &__footer {
    @include flex-ccc;
    padding-top: map-get($spaces, m);
    border-top: 1px solid map-get($border-colors, default);
  }
}

.form-submit {
  @include flex-rfec;
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; // Preferred icon size
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  overflow-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  // Support for all WebKit browsers.
  -webkit-font-smoothing: antialiased;
  // Support for Safari and Chrome.
  text-rendering: optimizeLegibility;
  // Support for Firefox.
  -moz-osx-font-smoothing: grayscale;
  // Support for IE.
  font-feature-settings: 'liga';
}